.timeblock_form {
  margin: 0px;
  padding: 0px;
}

.success {
	color: black;
	background-color: #C5F598;
}

.failure {
	color: black;
	background-color: #FAC2BB;
}

.scrollable_container {
	height: 400px;
	overflow-y: auto;
}

.tagCol {
	width: 220px;
}

.timeCol {
	width: 100px;
}

.below_header {
  margin-top: 50px;
}

#date_banner {
  display: inline-block;
  width: 100%;
}

#date_banner form, #date_banner h2 {
  float: left;
}

#date_banner p {
  font-size: large;
}

.prev_day {
  margin-left: 25%;
  margin-right: 10px;
}

.next_day {
  margin-left: 10px;
}

.date_shown {
	display: none;
}
