.timeblock_form {
  margin: 0px;
  padding: 0px;
}

.success {
	color: white;
	background-color: green;
}

.failure {
	color: black;
	background-color: red;
}

.scrollable_container {
	height: 400px;
	overflow: auto;
}

.tagCol {
	width: 220px;
}

.timeCol {
	width: 100px;
}
