.timeblock_form {
  margin: 0px;
  padding: 0px;
}

.success {
	color: black;
	background-color: #C5F598;
}

.failure {
	color: black;
	background-color: #FAC2BB;
}

.scrollable_container {
	height: 400px;
	overflow-y: auto;
}

.tagCol {
	width: 220px;
}

.timeCol {
	width: 100px;
}
