<h1>Sign up</h1>

<p>
	Register for an account on Time Blocks below.
	</p>
	<p>Currently, we do not use your email for anything other than a username, but in
	 the future we will use it to help you reset your password.
	</p>
	
<p>
	 WARNING: Currently, we save passwords in plain text so DO NOT use a password
	that you have used on another site.
</p>

<%= render 'form' %>
