<div id="metrics">
	<h2>Tag stats</h2>
		<table id="metrics_table" class="zebra_striped">
	  <thead>
	    <th>Tag</th>
	    <th>Total hours</th>
	  </thead>
	  <tbody id="timeblocks_table_body">
	  	<%= render dailyMetricRows %>
	  </tbody>
	</table>
</div>
