<h1>Show some timeblocks for <%= @user.email %> today!!</h1>

<p>
Yes, this is truly all that I have developed so far. I hope you enjoyed it!
</p>

<p>
Now that you know about this and can check it whenever you want, it will help
keep me motivated to work on this and actually make it useful for people (me especially) 
to keep track of their daily blocks of time.
</p>

<p>
I will email you again once there is something here that actually works.
</p>
